<nav class="sheet-tabs tabs">
  <a class="item {{tabs.stats}}" data-action="changeTab" data-tab="stats">STATS</a>
  <a class="item {{tabs.combat}}" data-action="changeTab" data-tab="combat">COMBAT</a>
  <a class="item {{tabs.powers}}" data-action="changeTab" data-tab="powers">POWERS</a>
  <a class="item {{tabs.biography}}" data-action="changeTab" data-tab="biography">BIOGRAPHY</a>
  <a class="item {{tabs.effects}}" data-action="changeTab" data-tab="effects">EFFECTS</a>
</nav>